# Laravel dependency & cache
vendor
node_modules
public/storage
storage/*.key
.phpunit.result.cache

# Docker files
Dockerfile
.dockerignore

# Environment files (Sangat penting demi keamanan!)
.env
.env.backup

# Misc
.git
.gitignore
.vscode
DS_Store
