# Laravel dependency & cache
vendor
node_modules
public/storage
storage/*.key
.phpunit.result.cache

# Docker files
Dockerfile
.dockerignore

# Environment files
# .env (dibutuhkan untuk build)
# .env.backup

# Misc
.git
.gitignore
.vscode
DS_Store
